.preview {
    width: 100%;
    height: 100%;
    background: #000;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    display: flex;
    align-items: flex-end;
}
.preview>.container_wrap {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.preview >.container_wrap>.container {
    width: 1000px;
    height: 700px;
    position: relative;
    cursor: pointer;
    display: flex;
    justify-content: center;
}
.preview >.container >img {
    // height: 100%;
}
.preview >.container_wrap>.container >.picBtn {
    width: 45px;
    height: 45px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    >img {
        width: 100%;
        height: 100%;
    }
    &.left {
        left: -130px;	
    }	
    &.right {
        right: -130px;	
    }
}
.preview >.container_wrap>.sm-pic-list-wrap {
    width: 100%;
    height: 85px;
    background-color: #333;
    position: relative;
    display: flex;
    justify-content: center;
}
.preview >.container_wrap>.sm-pic-list-wrap>.sm_pic_nav_head {
    height: 16px;
    padding: 4px 10px;
    line-height: 16px;
    position: absolute;
    float: left;
    top: -24px;
    left: 10px;
    background: #333;
    color: silver;
    font-size: 12px;
    >.sm_pic_nav_num {
        color: #999;
        >.sm_pic_num_cur{
            color: silver;
        }
    }
    >.sm_pic_nav_divider {
        color: #444;
    }
    >.sm_pic_nav_switch {
        color: silver;
        display: inline-block;
        height: 16px;
        padding: 0 16px 0 5px;
        cursor: pointer;
        background-image: url(http://tb2.bdstatic.com/tb/static-album/img/album_icons.gif?t=1544521707068);
        background-repeat: no-repeat;
    }
    >.sm_pic_nav_switch.hide {
        background-position: -156px -308px;
    }
    >.sm_pic_nav_switch.show {
        background-position: -156px -248px;
    }
}
.preview >.container_wrap>.sm-pic-list-wrap >.sm-pic-list {
    // width: 280px;
    height: 100%;
    background-color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.preview >.container_wrap>.sm-pic-list-wrap>.sm-pic-list li{
    width: 60px;
    height: 60px;
    position: relative;
    cursor: pointer;
}
.preview >.container_wrap>.sm-pic-list-wrap>.sm-pic-list li .img_wrap{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-color: #1d1d1d;
    opacity: .7;
    display: flex;
    justify-content: center;
    align-items: center;
}
.preview >.container_wrap>.sm-pic-list-wrap>.sm-pic-list li .img_wrap.active{
    border: solid 3px #4a82f0;
    opacity: 1;
}






    
