@import url('https://at.alicdn.com/t/font_1236591_sv1ts83p77p.css');

.searchBox {
    width: 100%;
    height: 100%;
    position: relative;
    border: 2px solid #9b040c;
    border-radius: 50px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 5px 0 5px 15px;
    >.inputValue {
        width: 90%;
        height: 100%;
        border: 0;
        border-color: transparent;
        background-color: transparent;
        outline: none;
    }
    >.icon-icon-test {
        font-size: 30px;
        color: #9b040c;
    }
}