
@import '../styles/mixin.scss';
.login {
    width: 100%;
    height: 100%;
    position: relative;
    // background: url("../../images/bg.png");
    background-image: linear-gradient(270deg, #8146b4, #6990f6);
    // @include linear-bg;
    @include bubble-bgwall;
    .bubble-distribution {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 25px;
        border-radius: 2px;
        width: 320px;
        background-color: #fff;
        h3 {
            font-weight: bold;
            font-size: 16px;
            color: #333;
        }
        div {
            margin-top: 10px;
        }
        img {
            position: absolute;
            left: 50%;
            bottom: 100%;
            margin: 0 0 -20px -60px;
            width: 120px;
        }
        input[type=text],
        input[type=password] {
            box-sizing: border-box;
            padding: 10px;
            outline: none;
            border: 1px solid #e9e9e9;
            border-radius: 2px;
            width: 100%;
            height: 50px;
            transition: all 300ms;
            &:focus:valid {
                border-color: #09f;
            }
            &:focus:invalid {
                border-color: #f66;
            }
        }
        button {
            overflow: hidden;
            margin-top: 20px;
            outline: none;
            border: none;
            border-radius: 2px;
            width: 100%;
            height: 40px;
            background-color: #09f;
            cursor: pointer;
            color: #fff;
            transition: all 300ms;
        }
    }
    .accout,
    .password {
        img {
            display: none;
            margin-bottom: -27px;
        }
        &:focus-within {
            img {
                display: block;
            }
            & ~ img {
                display: none;
            }
        }
    }
    @keyframes move {
        to {
            background-position: 6% 0, -6% 100%, 0 -6%, 100% 6%;
        }
    }

}

